.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    background: linear-gradient(135deg, #0c0d0e, #364570);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* LOGO */
.navlogo h2 {
    font-family: 'Pacifico', cursive;
    color: #dde1ec;
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    user-select: none;
}

/* MENU */
.list_Container {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.list_Container a {
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 500;
}

/* underline animation */
.list_Container a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #0f172a;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.list_Container a:hover::after {
    width: 100%;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .list_Container {
        position: fixed;
        top: 60px;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: linear-gradient(67deg, #0b0b0b, #364570);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 40px;

        transition: right 0.4s ease-in-out;
        box-shadow: -10px 0 30px rgba(0, 0, 0, 0.3);
    }

    /* OPEN STATE */
    .list_Container.active {
        right: 0;
        top: 57px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    .list_Container a {
        font-size: 1.2rem;
    }
}
